* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    font-size: 2rem;
    transition: 0.5s all ease-in-out;
}

header a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0px;
}

header .container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

header ul a {
    padding: 10px 10px;
}

header ul li a span {
    bottom: 5px;
    height: 10%;
    border-radius: 10px;
    background-color: rgba(255, 0, 4, 0.789);
}
